In [2]:
"""---Knn[K-nearest Neighbours]---"""

import pandas as pd

df = pd.read_csv("T-shirt.csv")
df

    Height  Weight T-shirt Size
0      158      58            M
1      158      59            M
2      158      63            M
3      160      59            M
4      160      60            M
5      163      60            M
6      163      61            M
7      160      64            L
8      163      64            L
9      165      61            L
10     165      62            L
11     165      65            L
12     168      62            L
13     168      63            L
14     168      66            L
15     170      63            L
16     170      64            L
17     170      68            L

In [4]:
x = df[['Height','Weight']]
y = df['T-shirt Size']
print(x.shape)
print(y.shape)

(18, 2)
(18,)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
nn = KNeighborsClassifier(n_neighbors=5)
model = nn.fit(x,y)
y_pred = model.predict(x)
y_pred

array(['M', 'M', 'M', 'M', 'M', 'M', 'L', 'M', 'L', 'L', 'L', 'L', 'L',
       'L', 'L', 'L', 'L', 'L'], dtype=object)

In [9]:
diff = pd.DataFrame({'Actual':y, 'Predicted':y_pred})
diff

   Actual Predicted
0       M         M
1       M         M
2       M         M
3       M         M
4       M         M
5       M         M
6       M         L
7       L         M
8       L         L
9       L         L
10      L         L
11      L         L
12      L         L
13      L         L
14      L         L
15      L         L
16      L         L
17      L         L